/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

img {
  width: 100%;
  max-width: 100%; }

/*********************
BREAKPOINTS

*********************/
/****************]
Typography
*****************/
.buy-buttons {
  width: 90%;
  max-width: 600px; }
  .buy-buttons p {
    text-align: center; }

.button {
  background-color: transparent;
  border: 2px solid white;
  text-align: center;
  display: block;
  padding: 0.5em;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
  width: 100%;
  margin-bottom: 1em; }
  .button:hover {
    background-color: white;
    color: #333; }
  @media (min-width: 34em) {
    .button {
      display: inline-block;
      width: calc(50% - 0.5em);
      margin-right: 1em; }
      .button:last-of-type {
        margin-right: 0; } }

.full-width {
  width: 100%; }

body {
  font-family: "ff-meta-serif-web-pro", "helvetica nueue", helvetica, arial, sans-serif;
  color: #333333;
  background-color: #eeeeee;
  line-height: 1.5em; }
  @media only screen and (min-width: 43.75em) {
    body {
      font-size: 1.4em; } }
  @media (min-width: 80em) {
    body {
      font-size: 1.5em; } }

blockquote {
  quotes: none;
  margin-bottom: 1.6em;
  padding-left: 1em;
  border-left: 5px solid #ccc; }

p, figure {
  margin-bottom: 1.6em; }

p + p, figure + p {
  text-indent: 1.6em; }

figure {
  margin: 0 auto 1em;
  position: relative;
  max-width: 600px; }

figcaption {
  border-bottom: 1px dashed #666;
  color: #454545;
  font-style: italic;
  padding-bottom: 0.5em; }

h1, h2, h3, h4, h5 {
  font-family: "proxima-nova", sans-serif;
  position: relative; }

h1 {
  font-family: "proxima-nova",sans-serif;
  font-weight: normal;
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: inherit;
  font-size: 3.375em;
  font-size: 8vw; }
  h1 a {
    color: #333333;
    text-decoration: none; }
    h1 a:hover, h1 a:focus {
      color: #0d0d0d;
      text-decoration: underline; }

h2 {
  font-family: "proxima-nova",sans-serif;
  font-weight: normal;
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: inherit;
  font-size: 2.8em; }
  h2 a {
    color: #333333;
    text-decoration: none; }
    h2 a:hover, h2 a:focus {
      color: #0d0d0d;
      text-decoration: underline; }

h3 {
  font-family: "proxima-nova",sans-serif;
  font-weight: normal;
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: inherit;
  font-size: 1.5em; }
  h3 a {
    color: #333333;
    text-decoration: none; }
    h3 a:hover, h3 a:focus {
      color: #0d0d0d;
      text-decoration: underline; }

h4 {
  font-family: "proxima-nova",sans-serif;
  font-weight: normal;
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: inherit;
  font-size: 1.318em; }
  h4 a {
    color: #333333;
    text-decoration: none; }
    h4 a:hover, h4 a:focus {
      color: #0d0d0d;
      text-decoration: underline; }

h5 {
  font-family: "proxima-nova",sans-serif;
  font-weight: normal;
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: inherit;
  font-size: 1em; }
  h5 a {
    color: #333333;
    text-decoration: none; }
    h5 a:hover, h5 a:focus {
      color: #0d0d0d;
      text-decoration: underline; }

.container {
  margin: 0em auto; }
  @media (min-width: 50em) {
    .container .container {
      max-width: 40em; } }

body {
  padding-top: 3em; }

.header {
  position: fixed;
  top: 0;
  background-color: #333;
  box-shadow: 0px 2px 3px #333333;
  height: 3em;
  width: 100%;
  transition: top 0.2s ease-in-out;
  padding: 1em; }

.nav-up {
  top: -3em; }

.book-title {
  font-size: 5vw;
  color: white; }
  @media only screen and (min-width: 43.75em) {
    .book-title {
      font-size: 2vw; } }

.introduction {
  height: 95vh;
  background-color: black;
  color: #eee;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column; }

.veil.on {
  visibility: visible;
  opacity: 1; }

.veil.off {
  visibility: hidden;
  opacity: 0; }

.veil {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(40, 40, 40, 0.5);
  z-index: 15;
  transition: all 0.3s ease; }

.table-contents {
  background-color: lightblue;
  padding: 1em 0; }
  .table-contents h3, .table-contents h4 {
    margin: 0; }
  .table-contents h3 {
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase; }
  .table-contents h4 {
    font-size: 1.2em; }
  .table-contents ol {
    list-style-type: none; }
  .table-contents li {
    width: 100%;
    margin: 0 auto; }
  .table-contents a {
    display: block;
    padding: 1em;
    width: 100%;
    margin: 0 auto;
    border-bottom: solid 1px #fff; }
    @media only screen and (min-width: 43.75em) {
      .table-contents a {
        width: 80%; } }
  .table-contents li:hover {
    background-color: rgba(40, 40, 40, 0.1); }

.menu-slide {
  position: fixed;
  opacity: 0.98;
  height: 100%;
  height: 100vh;
  padding: 1em;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: inherit; }

.hide-menu {
  right: 100%;
  display: none; }

.show-menu {
  right: 0; }

body.show-menu {
  overflow: hidden; }

#mobile-menu, #menu-close {
  border: 2px solid white;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  z-index: 1; }
  @media (min-width: 50em) {
    #mobile-menu, #menu-close {
      padding: 1rem 2rem; } }

.chapter {
  padding: 2em 1em; }
  .chapter a {
    border-bottom: 1px dashed;
    font-weight: 600; }

.footnote-content {
  position: fixed;
  z-index: 16;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  display: block;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  background-color: rgba(250, 248, 246, 0.9);
  border-radius: 0;
  border-top: 2px solid #333;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform;
  -moz-transition: -moz-transform;
  -ms-transition: -ms-transform;
  transition: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: auto; }

.footnote-content.active {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%); }

a.footnote-marker {
  border-bottom: none; }

a.footnote-marker::after {
  font-size: 140%;
  font-weight: 100;
  bottom: 0;
  text-decoration: none;
  color: lightcoral; }

a.footnote-marker::after, a.endnote-marker::after {
  position: relative;
  bottom: 0.84em;
  margin-left: 0.05em;
  z-index: 1;
  border-bottom: none;
  transition: bottom 0.3s ease;
  font-size: 0.6em;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  content: '\27A5'; }

a.footnote-marker:hover, a.footnote-marker:focus, a.footnote-marker.active, a.endnote-marker:hover, a.endnote-marker:focus, a.endnote-marker.active {
  bottom: 0.6em;
  border-bottom: none; }

a.footnote-marker:hover::after, a.footnote-marker:focus::after, a.footnote-marker.active::after, a.endnote-marker:hover::after, a.endnote-marker:focus::after, a.endnote-marker.active::after {
  opacity: 1;
  transform: scale(1.1); }

a.footnote-marker:hover, a.footnote-marker:focus, a.footnote-marker.active {
  bottom: 0.3em; }

.footnote-content {
  position: fixed;
  z-index: 16;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  display: block;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  background-color: rgba(250, 248, 246, 0.9);
  border-radius: 0;
  border-top: 2px solid #333;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform;
  -moz-transition: -moz-transform;
  -ms-transition: -ms-transform;
  transition: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: auto; }

.footnote-content.active {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%); }

.glossary--item {
  margin-bottom: 2em; }

dt {
  font-weight: 600; }

.footnote-content .glossary--item {
  margin: 1em; }

.pagination {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  background: #333333; }
  .pagination a {
    color: white;
    padding: 1.5em;
    display: block;
    width: 50%;
    text-align: center; }
    .pagination a:first-of-type {
      border-right: 1px solid white; }

/*# sourceMappingURL=main.css.map */
