.chapter {
  padding: 2em 1em;
   a {
      border-bottom: 1px dashed;
      font-weight: 600;
  }
}

.book {
  // background-image: url('images/old_moon.png');
  // @include breakpoint(retina) {
  //   background-image: url('../images/old_moon_@2X.jpg');
  // }
}
// .one {
//   background-color: orange;
// }

// .two {
//   background-color: #66c7f7;
// }

// .three {
//   background-image: url(old_moon.png);
// }

// .four {
// }

// .five {
//   background-color: lightred;
// }

// .six {
//  background-color: #333;
//  color: #eee;
// }

// .seven {
//  background-color: lightred;

// }

// .eight {
//  background-color: #66c7f7;
// }

// .nine {
//  background-color: orange;
// }

// .ten {
//  background-image: url(old_moon.png);
// }

// .eleven {
//  background-color: lightred;
// }

// .twelve {
//  background-color: #222;
//  color: #eee;
// }